<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lawson.androidsummery">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bitmap.BitmapActivity" />
        <activity android:name=".pointtopoint.PointToPointActivity" />
        <activity android:name=".detectmemory.DetectMemoryActivity" />
        <activity android:name=".detectmemory.SingleOOMActivity" />
        <activity android:name=".detectmemory.InnerClassActivity" />
        <activity android:name=".detectmemory.InnerAnonymityClassActivity" />
        <activity android:name=".detectmemory.HandlerLeakActivity" />
        <activity android:name=".detectmemory.ThreadTimerActivity" />
        <activity android:name=".detectmemory.ListenerActivity" />
        <activity android:name=".detectmemory.MemoryCollectionActivity" />
        <activity android:name=".collection.Collection_Activity" />
        <activity android:name=".touchevent.TouchEventActivity" />
        <activity android:name=".diyview.DIYViewActivity" />
        <activity android:name=".toast.ToastActivity" />
        <activity android:name=".popupwindow.PopupWindowActivity" />
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".hidenavigationbar.HideNavigationBar" />
        <activity android:name=".pulltorefresh.PullToRefreshActivity" />
        <activity android:name=".nohttp.NoHttpActivity" />
        <activity android:name=".draw.DrawActivity" />
        <activity android:name=".ongloballayoutlistener.OnGlobalLayoutListenerActivity" />
        <activity android:name=".fragmentlazy.FragmentLazyLoadActivity" />
        <activity android:name=".dragview.DragViewActivity" />
        <activity android:name=".edittext.EditTextActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".debug.DebugActivity" />
        <activity android:name=".touchevent.ScrollEventActivity" />
        <activity android:name=".nohttp.yanzhenjie.OriginActivity" />
        <activity android:name=".thread.ThreadActivity" />
        <activity
            android:name="com.github.mzule.activityrouter.router.RouterActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ian.com"
                    android:scheme="http" /> <!-- 改成自己的 scheme -->
            </intent-filter>
        </activity>
        <activity android:name=".router.MyRouterActivity" />
        <activity android:name=".router.MyRouter2Activity" />
        <activity android:name=".permission.PermissionActivity" />
        <activity android:name=".spinner.SpinnerActivity" />
        <activity android:name=".switchtheme.SwitchThemeActivity" />
        <activity android:name=".killprocess.KillProcessActivity" />
        <activity android:name=".constraintlayout.ConstraintLayoutActivity" />
        <activity android:name=".velocitytracker.VelocityTrackerActivity" />
        <activity android:name=".gesturedetector.GestureDetectorActivity" />
        <activity android:name=".scroller.ScrollerActivity" />
        <activity
            android:name=".activityabout.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".activityabout.AboutSecondActivity"
            android:launchMode="standard" />
        <activity
            android:name=".activityabout.AboutThirdActivity"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="action_one" />
                <action android:name="action_two" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".handler.HandlerPolicyActivity" />
        <activity android:name=".rxjava.RxJava2Activity" />
        <activity android:name=".windowandwindowmanager.WindowAndWindowManagerActivity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity android:name=".animation.viewanimation.ViewAnimationActivity" />
        <activity android:name=".animation.frameanimation.FrameAnimationActivity" />
        <activity android:name=".animation.propertyanimation.PropertyAnimationActivity" />
        <activity android:name=".diyview.learn2draw.SubmitButtonActivity" />
        <activity android:name=".diyview.ViewListActivity" />
        <activity android:name=".diyview.learn2draw.LoadingViewActivity" />
        <activity android:name=".diyview.learn2draw.FadeInTextViewActivity" />
        <activity android:name=".takephoto.TakePhotoActivity" />
        <activity
            android:name=".annotation.TestDagger2Activity"
            android:label="@string/title_activity_annotation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".recyclerview.RecyclerViewsActivity" />
        <activity android:name=".net.ui.NetActivity" />
        <activity android:name=".diyview.learn2draw.ChangeLineViewGroupActivity" />
        <activity android:name=".traceviewtool.TraceViewToolActivity" />
        <activity android:name=".databinding.DataBindingActivity" />
        <activity android:name=".mvp.view.NewsActivity" />
        <activity android:name=".diyview.primary.PrimaryViewListActivity" />
        <activity android:name=".diyview.primary.view.PrimaryViewActivity" />
        <activity android:name=".diyview.primary.viewgroup.PrimaryViewGroupActivity" />
        <activity android:name=".ipc.IPCActivity" />
        <activity
            android:name=".ipc.activity.process.ColonProcessActivity"
            android:process=":ian" />
        <activity
            android:name=".ipc.activity.process.FullProcessActivity"
            android:process="com.example.lawson.androidsummery.ian" />

        <service
            android:name=".ipc.service.MessengerService"
            android:process=":MessengerService" />

        <activity android:name=".ipc.activity.messenger.MessengerActivity" />
        <activity android:name=".ipc.activity.aidl.AIDLActivity" />

        <service
            android:name=".ipc.service.AIDLService"
            android:process=":AIDLService" />
    </application>

</manifest>