<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lawson.androidsummery">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fastjson.FastJsonActivity"></activity>
        <activity android:name=".securitycheck.SecurityCheckActivity" />
        <activity android:name=".drawerlayout.DrawerLayoutActivity" />
        <activity android:name=".picviry.GeTuiPicViryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bitmap.BitmapActivity" />
        <activity android:name=".pointtopoint.PointToPointActivity" />
        <activity android:name=".detectmemory.DetectMemoryActivity" />
        <activity android:name=".detectmemory.SingleOOMActivity" />
        <activity android:name=".detectmemory.InnerClassActivity" />
        <activity android:name=".detectmemory.InnerAnonymityClassActivity" />
        <activity android:name=".detectmemory.HandlerLeakActivity" />
        <activity android:name=".detectmemory.ThreadTimerActivity" />
        <activity android:name=".detectmemory.ListenerActivity" />
        <activity android:name=".detectmemory.MemoryCollectionActivity" />
        <activity android:name=".collection.Collection_Activity" />
        <activity android:name=".touchevent.TouchEventActivity" />
        <activity android:name=".diyview.DIYViewActivity" />
        <activity android:name=".toast.ToastActivity" />
        <activity android:name=".popupwindow.PopupWindowActivity" />
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".hidenavigationbar.HideNavigationBar" />
        <activity android:name=".pulltorefresh.PullToRefreshActivity" />
        <activity android:name=".nohttp.NoHttpActivity" />
        <activity android:name=".draw.DrawActivity" />
        <activity android:name=".ongloballayoutlistener.OnGlobalLayoutListenerActivity" />
        <activity android:name=".fragment.fragmentlazy.lazyone.FragmentLazyLoadActivity" />
        <activity android:name=".diyview.dragview.DragViewActivity" />
        <activity android:name=".edittext.EditTextActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".debug.DebugActivity" />
        <activity android:name=".touchevent.ScrollEventActivity" />
        <activity android:name=".nohttp.yanzhenjie.OriginActivity" />
        <activity android:name=".thread.ThreadActivity" />
        <activity
            android:name="com.github.mzule.activityrouter.router.RouterActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ian.com"
                    android:scheme="http" /> <!-- 改成自己的 scheme -->
            </intent-filter>
        </activity>
        <activity android:name=".permission.PermissionActivity" />
        <activity android:name=".spinner.SpinnerActivity" />
        <activity android:name=".switchtheme.SwitchThemeActivity" />
        <activity android:name=".killprocess.KillProcessActivity" />
        <activity android:name=".constraintlayout.ConstraintLayoutActivity" />
        <activity android:name=".velocitytracker.VelocityTrackerActivity" />
        <activity android:name=".gesturedetector.GestureDetectorActivity" />
        <activity android:name=".scroller.ScrollerActivity" />
        <activity
            android:name=".fourcomponent.activityabout.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".fourcomponent.activityabout.AboutSecondActivity"
            android:launchMode="standard" />
        <activity
            android:name=".fourcomponent.activityabout.AboutThirdActivity"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="action_one" />
                <action android:name="action_two" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".handler.HandlerPolicyActivity" />
        <activity android:name=".rxjava.RxJava2Activity" />
        <activity android:name=".windowandwindowmanager.WindowAndWindowManagerActivity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity android:name=".animation.viewanimation.ViewAnimationActivity" />
        <activity android:name=".animation.frameanimation.FrameAnimationActivity" />
        <activity android:name=".animation.propertyanimation.PropertyAnimationActivity" />
        <activity android:name=".diyview.learn2draw.SubmitButtonActivity" />
        <activity android:name=".diyview.ViewListActivity" />
        <activity android:name=".diyview.learn2draw.LoadingViewActivity" />
        <activity android:name=".diyview.learn2draw.FadeInTextViewActivity" />
        <activity android:name=".takephoto.TakePhotoActivity" />
        <activity
            android:name=".annotation.TestDagger2Activity"
            android:label="@string/title_activity_annotation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".recyclerview.RecyclerViewsActivity" />
        <activity android:name=".net.ui.NetActivity" />
        <activity android:name=".diyview.learn2draw.ChangeLineViewGroupActivity" />
        <activity android:name=".androidtools.traceviewtool.TraceViewToolActivity" />
        <activity android:name=".databinding.DataBindingActivity" />
        <activity android:name=".mvp.view.NewsActivity" />
        <activity android:name=".diyview.primary.PrimaryViewListActivity" />
        <activity android:name=".diyview.primary.view.PrimaryViewActivity" />
        <activity android:name=".diyview.primary.viewgroup.PrimaryViewGroupActivity" />
        <activity android:name=".ipc.IPCActivity" />
        <activity
            android:name=".ipc.activity.process.ColonProcessActivity"
            android:process=":ian" />
        <activity
            android:name=".ipc.activity.process.FullProcessActivity"
            android:process="com.example.lawson.androidsummery.ian" />
        <activity android:name=".ipc.activity.messenger.MessengerActivity" />
        <activity android:name=".ipc.activity.aidl.AIDLActivity" />
        <activity android:name=".remoteviews.RemoteViewsActivity" />
        <activity android:name=".thread.AndroidThreadActivity" />
        <activity android:name=".bitmap.BitmapAndCacheActivity" />
        <activity android:name=".fourcomponent.FourComponentActivity" />
        <activity android:name=".junittest.UITestActivity" />
        <activity android:name=".hencoder.HenCoderActivity" />
        <activity android:name=".hencoder.ui.UIActivity" />
        <activity android:name=".greendao.GreenDaoActivity" />
        <activity android:name=".levelcount.LevelCountActivity" />
        <activity android:name=".hencoder.ui.PropertyAnimationActivity" />
        <activity android:name=".hencoder.ui.imitative.ImitativeActivity" />
        <activity android:name=".router.activity.ARouterActivity" />
        <activity android:name=".router.activity.ParamActivity" />
        <activity android:name=".router.activity.StartActivityForResultActivity" />
        <activity android:name=".fragment.normal.FragmentNormalActivity" />
        <activity android:name=".fragment.fragmentlazy.lazytwo.FragmentLazyLoadTwoActivity" />
        <activity android:name=".viewvisibility.ViewVisibilityActivity" />
        <activity android:name=".viewvisibility.ScrollViewVisibilityActivity" />
        <activity android:name=".viewvisibility.NormalViewVisibilityActivity" />
        <activity android:name=".viewvisibility.ListViewVisibilityActivity" />
        <activity android:name=".androidtools.AndroidToolsActivity" />
        <activity android:name=".androidtools.uiautomatorviewer.UiAutoMatorViewerActivity" />
        <activity android:name=".tvsupporthtml.TextViewSupportHtmlActivity" />
        <activity android:name=".diyview.hideview.HideViewRVActivity" />
        <activity android:name=".diyview.hideview.HideViewLVActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".diyview.learn2draw.AddableHorizontalTextViewActivity" />
        <activity android:name=".timeline.WXTimelineShareActivity" />
        <activity android:name=".lottie.LottieActivity" />
        <activity android:name=".beibei.delegate.DelegateActivity" />
        <activity android:name=".diyview.timepicker.DatePickerActivity" />
        <activity android:name=".beibei.BeiBeiActivity" />
        <activity android:name=".beibei.hbaction.ActionActivity" />
        <activity android:name=".fourcomponent.activityabout.MyFragmentActivity" />
        <activity android:name=".mmkv.MMKVActivity" />

        <receiver android:name=".remoteviews.MyAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_info" />
        </receiver>
        <receiver android:name=".fourcomponent.broadcastreceiver.NormalBroadcastReceiver">
            <intent-filter>
                <action android:name="normal" />
            </intent-filter>
        </receiver>
        <receiver android:name=".fourcomponent.broadcastreceiver.OrderOneBroadcastReceiver">

            <!-- priority在有序广播中代表优先级，范围是-1000到1000，数值越大优先级越高 -->
            <intent-filter android:priority="1000">
                <action android:name="order" />
            </intent-filter>
        </receiver>
        <receiver android:name=".fourcomponent.broadcastreceiver.OrderThreeBroadcastReceiver">
            <intent-filter android:priority="-1000">
                <action android:name="order" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ipc.service.MessengerService"
            android:process=":MessengerService" />
        <service
            android:name=".ipc.service.AIDLService"
            android:process=":AIDLService" />
        <service android:name=".thread.intentservice.MyIntentService" />
        <service android:name=".fourcomponent.service.MyService" />
    </application>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>