<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lawson.androidsummery">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bitmap.BitmapActivity" />
        <activity android:name=".pointtopoint.PointToPointActivity" />
        <activity android:name=".detectmemory.DetectMemoryActivity" />
        <activity android:name=".detectmemory.SingleOOMActivity" />
        <activity android:name=".detectmemory.InnerClassActivity" />
        <activity android:name=".detectmemory.InnerAnonymityClassActivity" />
        <activity android:name=".detectmemory.HandlerActivity" />
        <activity android:name=".detectmemory.ThreadTimerActivity" />
        <activity android:name=".detectmemory.ListenerActivity" />
        <activity android:name=".detectmemory.MemoryCollectionActivity" />
        <activity android:name=".collection.Collection_Activity" />
        <activity android:name=".touchevent.TouchEventActivity" />
        <activity android:name=".diyview.DIYViewActivity" />
        <activity android:name=".toast.ToastActivity" />
        <activity android:name=".popupwindow.PopupWindowActivity" />
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".hidenavigationbar.HideNavigationBar" />
        <activity android:name=".pulltorefresh.PullToRefreshActivity" />
        <activity android:name=".nohttp.NoHttpActivity" />
        <activity android:name=".draw.DrawActivity" />
        <activity android:name=".ongloballayoutlistener.OnGlobalLayoutListenerActivity" />
        <activity android:name=".fragmentlazy.FragmentLazyLoadActivity" />
        <activity android:name=".dragview.DragViewActivity" />
        <activity android:name=".edittext.EditTextActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".debug.DebugActivity" />
        <activity android:name=".touchevent.ScrollEventActivity" />
        <activity android:name=".nohttp.yanzhenjie.OriginActivity" />
        <activity android:name=".thread.ThreadActivity" />
        <activity
            android:name="com.github.mzule.activityrouter.router.RouterActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ian.com"
                    android:scheme="http" /> <!-- 改成自己的 scheme -->
            </intent-filter>
        </activity>
        <activity android:name=".router.MyRouterActivity" />
        <activity android:name=".router.MyRouter2Activity" />
        <activity android:name=".permission.PermissionActivity" />
        <activity android:name=".spinner.SpinnerActivity" />
        <activity android:name=".switchtheme.SwitchThemeActivity"></activity>
    </application>

</manifest>